html, body {
  height: 100%;
}

body {
  font-family: "Lucida Grande", "Segoe UI", Ubuntu, Cantarell, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#main-wrapper {
  height: 100%;
  background-color: #FFF;
}

#header-container {
  height: 52px;
  background-color: #01579B;
}

#main-container {
  background-color: #E0E0E0;
  height: 100%;
  padding-top: 2px;
}

.main-content {
  height: 100%;
  max-width: 540px;
  margin-left: 17%;
  background-color: #F5F5F5;
  border: 1px solid lightgray;
}

/*I want this to have a strict vertical size*/
.main-content-item {
  max-width: 540px;
  min-height: 334px;
}
